MYSQL_ROOT_PASSWORD=grdp_root_password
MYSQL_USERNAME=grdp
MYSQL_PASSWORD=grdp_dev_password
MYSQL_PORT=32000

REDIS_PASSWORD=grdp_redis_password
REDIS_PORT=6379

SERVER_PORT=8080
ORIGINAL_PLATFORM_BASE_URL=http://127.0.0.1:9920
